
# Environment variables
.env

# Python
__pycache__/
*.pyc
instance/
.pytest_cache/
.venv/
env/
venv/
*.log

# Generated content
uploads/
outputs/
*.pdf
*.aux
*.log
*.out
*.toc

# User specific
singleinquiry471704h92db50b0583fe.json
master_cv.md